includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - routes/

    # The level 8 is the highest level
    level: 6

    ignoreErrors:
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::factory\(\)#'
        - '#Access to an undefined property [a-zA-Z0-9\\_]+::\$[a-zA-Z0-9_]+#'

    excludePaths:
        - vendor/
        - storage/
        - bootstrap/cache/
        - config/
        - public/
        - database/
